<div class="container">
    <div class="card">
        <div class="card-body  border border-primary">
            <h3 class="card-header">Continue Student Fee Payment</h3>

            <form [formGroup]="feeForm">

                <div class="row">

                    <div class="col-md-4 col-sm-4 col-lg-2 p-2 bd-highlight">
                        <label>Roll Number</label>
                        <input type="text" class="form-control" formControlName="rollnumber" placeholder="Roll Number"
                            width="20%">
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-2 p-2 bd-highlight">
                        <label>Select Program</label>
                        <app-custom-combobox [labeltext]='pgmlabel' [Options]='pgmdata' [combowidth]='pgmwidth'>

                        </app-custom-combobox>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-lg-1 p-2 bd-highlight">
                        <label>Semester</label>
                        <input type="text" class="form-control readonly" formControlName="semester"
                            placeholder="Semester" width="20%">
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 p-2 bd-highlight">
                        <label>Name</label>
                        <input type="text" class="form-control readonly" formControlName="studentname" width="20%">
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-3 p-2 bd-highlight">
                        <label>Amount to be paid</label>
                        <input type="text" class="form-control readonly" formControlName="feeamount" width="20%">
                    </div>
                </div>






                <div class="row">
                    <div class="col-md-4 col-sm-4 col-lg-3 p-2 m-2 bd-highlight">
                        <button type="button" class="btn btn-primary m-2">Make Payment</button>
                        <button type="button" class="btn btn-primary m-2">Cancel</button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>